{% extends 'base.html' %}

{% block content %}
    <h1>Reversi By Akshat</h1>
    <div class="scoreboard">
        <span id="black-score" class="score">Black: 2</span>
        <span id="white-score" class="score">White: 2</span>
    </div>
    <p id="turn"></p>
    <table id="board" class="table table-bordered"></table>
    <button class="btn btn-danger mt-3" onclick="restartGame()">Restart Game</button>
    <button class="btn btn-warning mt-3" onclick="undoMove()">Undo Move</button>
{% endblock %}
